server {
  listen 80;
  {% if https %}
    listen 443 ssl;
    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
  {% endif %}
  server_name {{ name }};
  root /home/{{ user }}/{{ name }}/;
  location ~ /\.(svn|git) {
    deny all;
  }
  {% block body %}{% endblock %}
}
