[beaver]
logstash_version = 1
format = json
transport = rabbitmq
rabbitmq_host = {{ beaver_rabbitmq_host }}
rabbitmq_username = {{ beaver_rabbitmq_username }}
rabbitmq_password = {{ beaver_rabbitmq_password }}
